html, body {
    margin: 0;
}
#edukinontzia {
    width: 260px;
    height: 260px;
    background: url(../img/atzerako-kontaketa-atzeko-planoa.png);
    color: white;
    position: relative;
}
#edukinontzia .egun-kopurua {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 60px;
}
#edukinontzia .egunak-etiketa {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 190px;
    font-weight: bold;
    font-size: 18px;
    left: 34px;
}
